<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-achievement-heading" data-cy="AchievementCreateUpdateHeading">Create or edit a Achievement</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let codeRef = editForm.get('code')!;
        <div class="mb-3">
          <label class="form-label" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
          @if (codeRef.invalid && (codeRef.dirty || codeRef.touched)) {
            <div>
              @if (codeRef.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              @if (codeRef.errors?.maxlength) {
                <small class="form-text text-danger">This field cannot be longer than 50 characters.</small>
              }
            </div>
          }
        </div>

        @let titleRef = editForm.get('title')!;
        <div class="mb-3">
          <label class="form-label" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          @if (titleRef.invalid && (titleRef.dirty || titleRef.touched)) {
            <div>
              @if (titleRef.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              @if (titleRef.errors?.maxlength) {
                <small class="form-text text-danger">This field cannot be longer than 100 characters.</small>
              }
            </div>
          }
        </div>

        @let descriptionRef = editForm.get('description')!;
        <div class="mb-3">
          <label class="form-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          @if (descriptionRef.invalid && (descriptionRef.dirty || descriptionRef.touched)) {
            <div>
              @if (descriptionRef.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              @if (descriptionRef.errors?.maxlength) {
                <small class="form-text text-danger">This field cannot be longer than 255 characters.</small>
              }
            </div>
          }
        </div>

        @let badgeIconRef = editForm.get('badgeIcon')!;
        <div class="mb-3">
          <label class="form-label" for="field_badgeIcon">Badge Icon</label>
          <input type="text" class="form-control" name="badgeIcon" id="field_badgeIcon" data-cy="badgeIcon" formControlName="badgeIcon" />
          @if (badgeIconRef.invalid && (badgeIconRef.dirty || badgeIconRef.touched)) {
            <div>
              @if (badgeIconRef.errors?.maxlength) {
                <small class="form-text text-danger">This field cannot be longer than 50 characters.</small>
              }
            </div>
          }
        </div>

        @let xpRewardRef = editForm.get('xpReward')!;
        <div class="mb-3">
          <label class="form-label" for="field_xpReward">Xp Reward</label>
          <input type="number" class="form-control" name="xpReward" id="field_xpReward" data-cy="xpReward" formControlName="xpReward" />
          @if (xpRewardRef.invalid && (xpRewardRef.dirty || xpRewardRef.touched)) {
            <div>
              @if (xpRewardRef.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              @if (xpRewardRef.errors?.min) {
                <small class="form-text text-danger">This field should be at least 0.</small>
              }
              <small class="form-text text-danger" [hidden]="!xpRewardRef.errors?.number">This field should be a number.</small>
            </div>
          }
        </div>

        <div class="mb-3">
          <label for="field_pilotses">Pilots</label>
          <select
            class="form-control"
            id="field_pilotses"
            data-cy="pilots"
            multiple
            name="pilotses"
            formControlName="pilotses"
            [compareWith]="comparePilotProfile"
          >
            @for (pilotProfileOption of pilotProfilesSharedCollection(); track $index) {
              <option [ngValue]="pilotProfileOption">{{ pilotProfileOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
